.clickable {
  color: blue;
  text-decoration: underline;
  font-style: bold;
  cursor: pointer;
}

.edited {
  color: black;
}

.logos {
  width: 100vw;
}

.logos img {
  width: 10vw;
}